* {
    margin: 0;
    padding: 0;
}
h4 {
    margin: 0;
        padding: 10px;
    
}
.create_row{
    display: flex;
    justify-content: space-around;
}
span{
    height: 40px;
}
.ant-input-affix-wrapper > input.ant-input {
    height: 2rem;
}
svg {
    margin-top: 12px;
}
.notFound h1{
    color: red;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}